body {
  background-color: #262839;
  color: #ffffff;
}

.content-wrapper {
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table a {
  text-decoration: none;
}

table tr td {
  padding-right: 50px;
}

table tr td:last-child {
  padding-right: 0;
}

table tr th {
  padding-bottom: 20px;
}

table tr>.edit {
  display: flex;
  gap: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation .account {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}